# Ignore environment folder
env/
.venv/

# Ignore cache folders
cache/
__pycache__/

# Ignore raw and data folders
raw/
data/

# Optional: ignore common system files
.DS_Store
Thumbs.db

# Ignore env variables file
.env